<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Max Winde</string>
	<key>Builder Version</key>
	<string>7534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>TabulaTabs</string>
	<key>CFBundleIdentifier</key>
	<string>com.tabulatabs.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0a1</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>sync-popover.html</string>
				<key>Height</key>
				<real>80</real>
				<key>Identifier</key>
				<string>syncPopover</string>
				<key>Width</key>
				<real>250</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>sync</string>
				<key>Image</key>
				<string>toolbar-icon-safari.png</string>
				<key>Label</key>
				<string>TabulaTabs</string>
				<key>Popover</key>
				<string>syncPopover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/content-script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>put your tab in your pocket!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://tabulatabs.com/safari-extension-updates.plist</string>
	<key>Website</key>
	<string>http://tabulatabs.com/</string>
</dict>
</plist>
